<link rel="stylesheet" type="text/css" href="/Public/css/my_account.css">
<table cellspacing="0" cellpadding="0" class="acc_TB_main">
  <tbody>
    <tr>
      <!--左边选单区-->
      <td>
        <div class="acc_right_menuDIV">
            <h1>我的帐户</h1>
            <ul>
                <li id="history_data" onclick="linkEvent(this,this.id);" class="on">帐户历史</li>
                <li id="today_wagers" onclick="linkEvent(this,this.id);">交易状况</li>
                <li id="mem_conf"     onclick="linkEvent(this,this.id);">详细设定</li>
                <li id="set_email"    onclick="linkEvent(this,this.id);">密码恢复</li>
                <li id="chg_passwd"   onclick="linkEvent(this,this.id);">更改密码</li>
                <li id="scroll_history" onclick="linkEvent(this,this.id);">公告栏</li>
              </ul>
            <h1>帮助</h1> 
            <ul>
                <li id="sport_rules" onclick="linkEvent(this,this.id);">体育规则</li>
                <li id="terms" onclick="linkEvent(this,this.id);">规则与条款</li>
                <li id="result" onclick="linkEvent(this,this.id);">赛果</li>
                <li id="tutorials" onclick="linkEvent(this,this.id);">指南</li>
                <li id="new_features" onclick="linkEvent(this,this.id);">新功能</li>
                <li id="odds" onclick="linkEvent(this,this.id);">赔率计算列表</li>
                <li id="contact_us" onclick="linkEvent(this,this.id);">联系我们</li>
                <li id="troubleshooting" onclick="linkEvent(this,this.id);">故障疑难排解</li>
            </ul>   
        </div>
      </td>
      
    </tr>
  </tbody>
</table>