<link rel="stylesheet" type="text/css" href="/Public/css/reset.css">
<link rel="stylesheet" type="text/css" href="/Public/css/my_account.css">
<div class="acc_leftMain">
    <!--header-->
    <div class="acc_header noFloat">
        <h1>
            详细设定
        </h1>
    </div>
    <!--main-->
    <div class="acc_set_DataMain">
        <div class="acc_set_header">
            <ul>
                <li id="title_FT" onclick="chgGtype('FT');" class="on">
                    足球
                </li>
                <li id="title_BK" onclick="chgGtype('BK');" class="">
                    篮球
                </li>
                <li id="title_OP" onclick="chgGtype('OP');" class="">
                    综合球类
                </li>
                <li id="title_FS" onclick="chgGtype('FS');" class="">
                    冠军
                </li>
            </ul>
        </div>
        <div id="div_FT">
            <table cellspacing="0" cellpadding="0" class="acc_setTB">
                <tbody>
                    <tr>
                        <th>
                            投注类型
                        </th>
                        <th>
                            单场最高
                        </th>
                        <th>
                            单注最高
                        </th>
                    </tr>
                    <tr>
                        <td class="Word_Paddleft">
                            让球,大小,单双
                        </td>
                        <td>
                            1,100,000
                        </td>
                        <td class="no_line">
                            330,000
                        </td>
                    </tr>
                    <tr>
                        <td class="Word_Paddleft">
                            滚球让球,滚球大小,滚球单双
                        </td>
                        <td>
                            1,100,000
                        </td>
                        <td class="no_line">
                            330,000
                        </td>
                    </tr>
                    <tr>
                        <td class="Word_Paddleft">
                            独赢,滚球独赢
                        </td>
                        <td>
                            1,100,000
                        </td>
                        <td class="no_line">
                            330,000
                        </td>
                    </tr>
                    <tr>
                        <td class="Word_Paddleft">
                            其他
                        </td>
                        <td>
                            220,000
                        </td>
                        <td class="no_line">
                            55,000
                        </td>
                    </tr>
                    <tr>
                        <td class="Word_Paddleft">
                            滚球其他
                        </td>
                        <td>
                            220,000
                        </td>
                        <td class="no_line">
                            55,000
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="div_BK" style="display:none">
            <xmp>
                <table cellspacing="0" cellpadding="0" class="acc_setTB">
                    <tr>
                        <th>
                            投注类型
                        </th>
                        <th>
                            单场最高
                        </th>
                        <th>
                            单注最高
                        </th>
                    </tr>
                    *CONTENT*
                </table>
            </xmp>
        </div>
        <div id="div_OP" style="display:none">
            <xmp>
                <table cellspacing="0" cellpadding="0" class="acc_setTB">
                    <tr>
                        <th>
                            投注类型
                        </th>
                        <th>
                            单场最高
                        </th>
                        <th>
                            单注最高
                        </th>
                    </tr>
                    *CONTENT*
                </table>
            </xmp>
        </div>
        <div id="div_FS" style="display:none">
            <xmp>
                <table cellspacing="0" cellpadding="0" class="acc_setTB">
                    <tr>
                        <th>
                            投注类型
                        </th>
                        <th>
                            单场最高
                        </th>
                        <th>
                            单注最高
                        </th>
                    </tr>
                    *CONTENT*
                </table>
            </xmp>
        </div>
        <div id="model_tr" name="model_tr" style="display: none">
            <xmp>
                <tr>
                    <td class="Word_Paddleft">
                        *TYPE*
                    </td>
                    <td>
                        *S_MATCH*
                    </td>
                    <td class="no_line">
                        *S_BET*
                    </td>
                </tr>
            </xmp>
        </div>
    </div>
</div>