<html><head>
<meta name="Robots" contect="none">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link rel="stylesheet" href="/Public/css/mem_body_ft.css" type="text/css">
<script language="JavaScript" src="/Public/js/notice.js"></script>
</head>

<body id="body_notice" onload="onLoad();swNotice(false);" class="DA_set" marginwidth="0" marginheight="0">

<div id="notice_bg" style="display: none;" class="DA_bg">


    <div id="notice_p1" class="DA_div_box DA_danger01" style="display:;">
    
        <div class="DA_top">
            <div class="DA_title">滚球投注公告</div>
            <div class="DA_topall_box">
                <span class="DA_arrow_L_out"></span>
                <span class="DA_new_pic"></span>
                <span class="DA_arrow_R_on" id="ARR_R01"></span>
            
            <div class="DA_page_box">
                <li class="DA_page_point_on"></li>
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_out"></li>
            </div>
        </div>   
    </div>

    <div class="DA_cont_box">
        <li>足球滚球注单在验收为“确认”或“投注失败”之前都会依赛事的情况而进行验收。</li><br>
        <li>在以往等待确认中的注单往往需要一段延长的时间进行确认。</li><br>
        <li>因此我们将会改善滚球系统并以显著的速度来缩短验收的时间。</li>
        
        <div class="DA_next_btn" id="NEXTbtn01"><input type="button" name="" value="下一页" class="DA_next_input"></div>
    </div> 
    
    </div>

  

    <div id="notice_p2" class="DA_div_box DA_danger02" style="display:none;">
    
        <div class="DA_top">
            <div class="DA_title">滚球投注公告</div>
            <div class="DA_topall_box">
                <span class="DA_arrow_L_on" id="ARR_L01"></span>
                <span class="DA_new_pic"></span>
                <span class="DA_arrow_R_on" id="ARR_R02"></span>
            
            <div class="DA_page_box">
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_on"></li>
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_out"></li>
            </div>
        </div>   
    </div>

    <div class="DA_cont_box">
        <li class="DA_title_size">待确认</li><br>
        <li>当出现可能会影响到比赛结果的突发事件时，注单将会被暂缓验收并定义为“待确认”。</li>
        
        <div class="DA_next_btn" id="NEXTbtn02"><input type="button" name="" value="下一页" class="DA_next_input"></div>
    </div> 
    
    </div>



    <div id="notice_p3" class="DA_div_box DA_danger03" style="display:none;">
    
        <div class="DA_top">
            <div class="DA_title">滚球投注公告</div>
            <div class="DA_topall_box">
                <span class="DA_arrow_L_on" id="ARR_L02"></span>
                <span class="DA_new_pic"></span>
                <span class="DA_arrow_R_on" id="ARR_R03"></span>
            
            <div class="DA_page_box">
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_on"></li>
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_out"></li>
            </div>
        </div>   
    </div>

    <div class="DA_cont_box">
        <li class="DA_title_size">确认</li><br>
        <li>待确认的注单在没有被突发事件影响的时候将会被“确认”。</li>
        
        <div class="DA_next_btn" id="NEXTbtn03"><input type="button" name="" value="下一页" class="DA_next_input"></div>
    </div> 
    
    </div>



    <div id="notice_p4" class="DA_div_box DA_danger04" style="display:none;">
    
        <div class="DA_top">
            <div class="DA_title">滚球投注公告</div>
            <div class="DA_topall_box">
                <span class="DA_arrow_L_on" id="ARR_L03"></span>
                <span class="DA_new_pic"></span>
                <span class="DA_arrow_R_on" id="ARR_R04"></span>
            
            <div class="DA_page_box">
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_on"></li>
                <li class="DA_page_point_out"></li>
            </div>
        </div>   
    </div>

    <div class="DA_cont_box">
        <li class="DA_title_size">投注失败</li><br>
        <li>如果待确认的注单被突发事件影响，注单将会被视为“投注失败”。</li>
        
        <div class="DA_next_btn" id="NEXTbtn04"><input type="button" name="" value="下一页" class="DA_next_input"></div>
    </div> 
    
    </div>



    <div id="notice_p5" class="DA_div_box DA_danger05" style="display:none;">
    
        <div class="DA_top">
            <div class="DA_title">滚球投注公告</div>
            <div class="DA_topall_box">
                <span class="DA_arrow_L_on" id="ARR_L04"></span>
                <span class="DA_new_pic"></span>
                <span class="DA_arrow_R_out"></span>
            
            <div class="DA_page_box">
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_out"></li>
                <li class="DA_page_point_on"></li>
            </div>
        </div>   
    </div>

    <div class="DA_cont_box">
        <li class="DA_title_size">益处</li><br>
        <li class="DA_ml"><span class="DA_lipic"></span>注单待确认的验收时间将会显著的缩短。</li><br>
        <li class="DA_ml"><span class="DA_lipic"></span>您可在注单确认之前进行下一笔投注而无需耗时等待。</li><br>
        <li>详情请查阅体育规则的一般体育规则说明，谢谢!</li>
        
        <div class="DA_next_btn" id="NEXTbtn05">
        	<input type="button" name="" value="OK" class="DA_next_input">
        </div>
    </div> 
    
    </div>


</div>




</body>
</html>